body {font-size:1em; margin:0; }

a {text-decoration:none; }
a:hover {text-decoration:underline; }
a:visited {color:#00E; }
.closeButton {font-weight:bold; padding:2px; background-color:#46b; color:#dde; }
.closeButton:visited {background-color:#77e; color:#dde; }
.closeButton:hover {color:#00e; background-color:#aab; text-decoration:none; }

#menu {border-bottom:2px solid #77c; height:30px;  }
#menu a {padding:3px; margin:0; display:inline-block; }
#menu a:hover {background-color:#eef; }
#menu a {padding:5px; }

#editor {margin-bottom:30px; }
#subjList {margin:5px; cursor:default; font-size:70%; }
#subjList td { }
#subjList td:hover {background-color:#aad; }
#subjList td .closeButton {visibility:hidden; }
#subjList td:hover .closeButton {visibility:visible; }

.s {font-size:70%; }
th {font-size:80%; }

.block {margin:5px; padding:10px; background-color:#dde; }

#options {cursor:pointer; float:right; display:inline; }
#optionHead {margin:5px; float:right;  background-color:rgba(255,255,255,.8); border-radius:5px; border:2px solid #777; padding:3px; width:70px;}
#optionBody {margin-top:5px; padding:5px; padding-top:15px; background-color:rgba(255,255,255,.7); border:2px solid #777; width:180px;  }
