body {font-size:1em; margin:0; }
#wrapper {padding:5px; }

a {text-decoration:none; }
a:hover {text-decoration:underline; }
a:visited {color:#00E; }
.closeButton {font-weight:bold; padding:2px; background-color:#46b; color:#dde; }
.closeButton:visited {background-color:#77e; color:#dde; }
.closeButton:hover {color:#00e; background-color:#aab; text-decoration:none; }

#menu {border-bottom:2px solid #77c; height:30px;  }
#menu a {padding:5px; padding-bottom:6px; margin:0; display:inline-block; }
#menu a:hover {text-decoration:none; padding-bottom:6px; background-color:#eef; border-bottom:2px solid #ccd; }
#currentMenuItem {background-color:#e1e1f1; border-bottom:2px solid #ccd; }
#menu a#currentMenuItem:hover {background-color:#e1e1f1; border-bottom:2px solid #eef; }

#editor {margin-bottom:30px; }
#subjList {margin:5px; cursor:default; font-size:70%; }
#subjList td { }
#subjList td:hover {color:#fff; background-color:#aad; }
#subjList td .closeButton {visibility:hidden; }
#subjList td:hover .closeButton {visibility:visible; }

.s {font-size:70%; }
th {font-size:80%; }

.block {margin:5px; padding:10px; background-color:#dde; }

#options {cursor:default; float:right; display:inline; }
#optionHead {cursor:pointer; margin:5px; float:right;  background-color:rgba(255,255,255,.8); border-radius:5px; border:2px solid #777; padding:3px; width:70px;}
#optionBody {margin-top:5px; padding:5px; padding-top:15px; background-color:rgba(255,255,255,.7); border:2px solid #777; width:180px;  }


.blocklist {background-color:#964; text-align:center; margin:10px; padding-bottom:10px; margin-bottom:0;  }
.blocklist h3 {color:#fff; padding:5px; }
.blockli {display:inline-block; border:1px solid #000; margin:5px; margin-top:10px; margin-bottom:0; padding:20px; width:140px; height:100px; background-color:rgba(255,255,255,.4); }
.blockli:hover {background-color:rgba(255,255,255,.5);}
.blockli a {display:inline-block; padding-top:85px; color:#333; font-weight:bold; font-size:80%; }