.op {display:none; }
.snp {font-size:70%;}

h3,h4 {margin:0; }
th, td {padding:10px; }
.red {background-color:rgba(240,0,0,.7); color:#fff; }
.red-absent {background-color:rgba(136,119,119,.8); color:#fff; }
select .redc {color:#f00; background-color:auto; }
#changer {margin-top:7px; margin-left:10px; margin-bottom:5px; font-size:90%; height:30px; }
#tabbed div {display:inline-block; background-color:#bacfad; padding:10px; border-radius:5px 15px 0 0; margin:0; cursor:pointer; border:solid #bacfad; border-width:3px 4px 0 2px; font-weight:bold; }
#tabbed div:hover {background-color:#cadfbd; }
#tabbed #hl {background-color:#c9fbc8; }
#marks-div {border:1px solid #111; border-top:0; padding:10px; background-color:#c9fbc8;}
table {background-color:rgba(255,255,255,.4); }
th {background-color:rgba(255,255,255,.4); }
.cb_selected {background-color:#c9c8fb; }
#autosuggestStudents li {padding-bottom:10px; }

body {font-size:1em; margin:0; }
#wrapper {padding:5px; margin-top:40px;  }

a {text-decoration:none; }
a:hover {text-decoration:underline; }
a:visited {color:#00E; }
.closeButton {font-weight:bold; padding:2px; background-color:#46b; color:#dde; }
.closeButton:visited {background-color:#77e; color:#dde; }
.closeButton:hover {color:#00e; background-color:#aab; text-decoration:none; }

#menu {border-bottom:2px solid #77c; height:30px; position:fixed; top:0; width:100%; background-color:#fff; }
#menu span {padding:0; margin:0; display:inline-block; }
#menu a {padding:5px; padding-bottom:6px; margin:0; display:inline-block; }
#menu a:hover {text-decoration:none; padding-bottom:6px; background-color:#eef; border-bottom:2px solid #ccd; }
#menu .submenu {position:fixed; border:1px solid #77c; width:100px; font-size:small; text-align:center; cursor:pointer; margin-left:-5px; margin-top:0px; display:none; }
#menu .submenu div {background-color:#fff; }
#menu .submenu div a {display:block; }
#menu .submenu div a:hover {border-bottom:0; }
#currentMenuItem {background-color:#e1e1f1; border-bottom:2px solid #ccd; }
#menu a#currentMenuItem:hover {background-color:#e1e1f1; border-bottom:2px solid #eef; }

#editor {margin-bottom:30px; }
#subjList {margin:5px; cursor:default; font-size:70%; }
#subjList td { }
#subjList td:hover {color:#fff; background-color:#aad; }
#subjList td .closeButton {visibility:hidden; }
#subjList td:hover .closeButton {visibility:visible; }

.s {font-size:70%; }
th {font-size:80%; }

.block {margin:5px; padding:10px; background-color:#dde; }

#options {cursor:default; float:right; display:inline; }
#optionHead {cursor:pointer; margin:5px; float:right;  background-color:rgba(255,255,255,.8); border-radius:5px; border:2px solid #777; padding:3px; width:70px;}
#optionBody {margin-top:10px; padding:5px; padding-top:15px; background-color:rgba(255,255,255,.9); border:2px solid #777; width:180px; position:absolute; right:10px;  }


#frameset {font-size:80%; margin-top:20px; margin-bottom:-20px; background-color:#fff; color:#111; border:2px solid #888; border-radius:8px; display:inline-block; background-color:rgba(153,102,68,.6); }
#frameset span {display:inline-block; padding:10px; border-right:1px solid #aaa; border-left:1px solid #aaa; cursor:default; background-color:rgba(250,250,250,.9); color:#666 }
#frameset span:first-child {border-left:0; border-radius:8px 0 0 8px; }
#frameset span:last-child {border-right:0; border-radius:0 8px 8px 0; }
#frameset span:hover {background-color:rgba(255,255,255,.9); color:#444; }
.blocklist {background-color:#964; text-align:center; margin:20px; margin-top:-10px; padding-top:20px; padding-bottom:10px; border-radius:10px; }
.blocklist h3 {color:#fff; padding:5px; margin-top:5px; }
.blockli {display:inline-block; border:1px solid #000; margin:5px; margin-top:10px; margin-bottom:0; padding:20px; width:140px; height:100px; background-color:rgba(255,255,255,.4); }
.blockli:hover {background-color:rgba(255,255,255,.5);}
.blockli a {display:inline-block; padding-top:85px; color:#333; font-weight:bold; font-size:80%; }

#menu .blockli {height:30px; width:100px; padding:0; margin:0; } !important
#menu .blockli a {padding:0; margin:0; } !important
